/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transition";

html, body {
  padding: 0;
  margin:  0;
}

#map-canvas {
  width:  100%;
  height: 100%;
  top:      66px;
  left:     0;
  position: fixed;
}

nav {
  width:            100%;
  background-color: black;
  height:           66px;
  position:         fixed;
  top:              0;
  left:             0;
  text-align:       center;

  .navbutton {
    width:          100px;
    height:         100%;
    text-align:     center;
    position:       absolute;
    vertical-align: middle;
    display:        table-cell;
    line-height:    66px;
    font-size:      20pt;
    font-weight:    bold;

    a {
      text-decoration: none;
      color:           white;
    }

    a:hover {
      color: blue;
    }
  }
}

#vizview {
  @include transition-property(bottom);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
  position:                fixed;
  width:                   100%;
  max-width:               500px;
  height:                  300px;
  left:                    50%;
  margin-left:             -250px;
  bottom:                  -300px;
  z-index:                 10;
  background-color:        #fff;
  border-top-left-radius:  50px;
  border-top-right-radius: 50px;

  .close {
    text-decoration: none;
    font-weight:     bold;
    font-size:       40px;
    color:           black;
    font-style:      sans-serif;
    right:           10px;
    top:             10px;
    position:        absolute;
    margin:          0;
    padding:         0;
  }
}

#vizview.active {
  bottom:      0px;
}

#about {
  h1 {
    font-family: sans-serif;
    text-align:  center;
  }

  .centralcol {
    background-color: #efefef;
    width:            100%;
    max-width:        500px;
    margin:           0 auto;
    height:           100%;

    img {
      border-radius: 100px;
      margin-bottom: 10px;
      width:         200px;
      height:        200px;
    }

    .pic {
      margin-left: 33.3px;
      width:       200px;
      display:     inline-block;
      text-align:  center;
      margin-top:  20px;
      font-weight: bold;
      font-family: sans-serif;
    }
  }
}